<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Hello - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    {% block stylesheets %}{% endblock %}
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ path("home") }}">Accueil</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="{{ path("articles_index") }}">Les articles<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="{{ path("articles_new") }}">Ajouter un article</a>

        </div>
    </div>
</nav>