{% extends 'base.html.twig' %}

{% block title %}Edit Articles{% endblock %}

{% block body %}

    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <h3>Modifier un Articles</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                {{ include('articles/_form.html.twig', {'button_label': 'Update'}) }}
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
                <a href="{{ path('home') }}" class="btn btn-warning">< Retour</a>
            </div>
        </div>
    </div>

    {#
    {{ include('articles/_delete_form.html.twig') }} #}
{% endblock %}
