{% extends 'base.html.twig' %}

{% block title %}Tout les articles{% endblock %}

{% block body %}


    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Tout les articles</h1>
            </div>
        </div>
        <div class="row mt-4"></div>
        <div class="row">
            <div class="col-md-9">
                <div class="row mb-4">
                {% for article in articles %}
                    <div class="col-md-4 mt-3">
                        <div class="card">
                            <div class="card-header"><span class="text-center">{{ article.titre }}</span></div>
                            <div class="card-body">
                                <p>
                                    <img src="{{ article.imageCouverture }}" alt="" class="img-fluid"><br/>
                                    {{ article.introduction }}
                                </p>
                                <br/>
                                <a class="btn btn-success" href="{{ path('articles_show', {'slug': article.slug}) }}">voir</a>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <p>
                    <h4>Il n'y a pas d'articles</h4>
                    </p>
                {% endfor %}
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col">
                <a class="btn btn-primary" href="{{ path('articles_new') }}">Create new</a>
            </div>
        </div>
    </div>


{% endblock %}