{% extends 'base.html.twig' %}

{% block title %}New Articles{% endblock %}

{% block body %}
    <h1>Créer un nouvel article </h1>
    <div class="container">
        <div class="row mb-3">
            <div class="col-8">
                {{ include('articles/_form.html.twig') }}
            </div>
        </div>

    <a href="{{ path('home') }}" class="btn btn-primary">Retour à l'acceuil</a>
    </div>
{% endblock %}
