{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4 class="h1 text-center">{{ article.titre }}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="text-center">
                    <img src="{{ article.imageCouverture }}" alt="Image de couverture" class="img-fluid">
                </p>
                <p>
                    {{ article.contenu }}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="carousel slide" data-ride="carousel" id="carouselExampleIndicators">
                    <ol class="carousel-indicators">
                        {% for image in article.images %}
                            <li class="{% if loop.first %}active{% endif %}" data-slide-to="{{ loop.index0 }}" data-target="#carouselExampleIndicators"></li>
                        {% endfor %}
                    </ol>
                    <div class="carousel-inner">
                        {% for image in article.images %}
                            <div class="carousel-item {% if loop.first %}active{% endif %}">
                                <img alt="..." class="d-block w-100" src="{{ image.url }}">
                                <div class="carousel-caption d-none d-md-block">
                                    <p>{{ image.caption }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev" data-slide="prev" href="#carouselExampleIndicators" role="button">
                        <span aria-hidden="true" class="carousel-control-prev-icon"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" data-slide="next" href="#carouselExampleIndicators" role="button">
                        <span aria-hidden="true" class="carousel-control-next-icon"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
                <a href="{{ path('articles_edit', {'slug': article.slug }) }}" class="btn btn-warning">Modifier</a>
                <a href="{{ path('articles_index') }}" class="btn btn-primary">Retour aux articles</a></div>
        </div>
    </div>

{#{{ include('articles/_delete_form.html.twig') }}#}
{% endblock %}
