{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="row mb-4">
                    {% for article in articles %}
                        <div class="col-md-4 mt-3">
                            <div class="card">
                                <div class="card-header"><span class="text-center">{{ article.titre }}</span></div>
                                <div class="card-body">
                                    <p>
                                        <img src="{{ article.imageCouverture }}" alt="" class="img-fluid"><br/>
                                        {{ article.introduction }}
                                    </p>
                                    <br/>
                                    <a class="btn btn-success" href="{{ path('articles_show', {'slug': article.slug}) }}">voir</a>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <p>
                        <h4>Il n'y a pas d'articles</h4>
                        </p>
                    {% endfor %}
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>Il y a {{ count_article }} articles.</p>
            </div>
        </div>
    </div>
{% endblock %}
