{% extends 'base.html.twig' %}
{% block body %}
    <div class="container mt-4">
        <div class="row">
            <div class="col">
                <h3>
                    Erreur 403
                </h3>
                <p>
                    Cette page vous ait restreinte.
                </p>
            </div>
        </div>
    </div>
{% endblock %}