{% extends 'base.html.twig' %}
{% block body %}
<div class="container mt-4">
    <div class="row">
        <div class="col">
            <h3>
                Erreur 500
            </h3>
            <p>
                Erreur de réponse serveur.
            </p>
        </div>
    </div>
</div>
{% endblock %}